body {
    background-color: rgb(123, 195, 228);
}

.container {
    background-attachment:  #050505;
    max-width: 700px;
    width: 80%;
    border: 2px solid #070606;
    padding: 16px 30px 16px 30px;
}