@use 'global_66';

/*
=============== 
Navbar
===============
*/
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-grey-10);
    height: 4rem;

    &-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &-links {
        display: none;
    }

    &-btn {
        position: absolute;
        right: 1.5rem;
        font-size: 2rem;
        color: var(--clr-grey-5);
        background-color: transparent;
        border-color: transparent;
        cursor: pointer;
    }
}

.navbar-fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: var(--light-shadow);
    z-index: 5;
  }

@media screen and (min-width: 768px) {
    .nav{
        &-links {
            display: flex;
            gap: 1.5rem;
            position: absolute;
            right: 3rem;

            li a {
                color: var(--clr-grey-5);

                &:hover {
                    color: var(--clr-grey-5);
                    border-bottom: 2px solid rgba(133,26,26,1)
                }
            }
        }
        &-btn {
            display: none;
        }
    }
}

/*
==============
Sidebar
==============
*/

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-grey-10);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    transform: translateX(-100%);

    .close-btn {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2rem;
        background-color: transparent;
        border-color: transparent;
        color: #bb2525;
        cursor: pointer;

        &:hover{
            color: #e66b6b;
        }
    }

    &-links {
        text-align: center;
        a{
            font-size: 2rem;
            text-transform: capitalize;
            color: var(--clr-grey-5);
            letter-spacing: var(--spacing);
        }
    }
}

.show-sidebar{
    transform: translateX(0%);

}
.social-icons{
        display: grid;
        margin-top: 3rem;
        width: 20rem;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
}

/*
==============
Hero
==============
*/

.hero {

    background-color: var(--clr-primary-10);

    &-center {
        display: grid;
        grid-template-columns: 1fr;
        min-height: calc(100vh - 4rem);
        // justify-content: center;
        // align-items: center;
        place-items: center;
    }
    .under-line {
        margin-left: 0;
        margin-bottom: 0.5rem;
    }

    &-info h4 {
        color: var(--clr-grey-5);

    }

    &-img{
        display: none;
    }

    &-btn {
        margin-top: 1.25rem;
    }

    &-icons{
        justify-content: start;
    }
}

@media screen and (min-width: 768px)  {
    .hero {
        &-center{
            grid-template-columns: 1fr 1fr;
        }
        &-img{
            display: block;
            width: 70%;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 2rem;
                right: -2rem;
                width: 100%;
                height: 100%;
                border: 0.25rem solid var(--clr-primary-5);
                border-radius: var(--radius);
            }
        }
        &-photo {
            max-width: 25rem;
            max-height: 30rem;
            object-fit: cover;
            border-radius: var(--radius);
            position: relative;
        }
    }
}

/*
==============
Footer
==============
*/

.footer {
    background-color: #222;
    display: grid;
    place-items: center;
    padding-bottom: 1rem;

    .social-icons {
        margin-bottom: 1rem;
    }

    .social-icon {
        color: var(--clr-primary-5);

        &:hover {
            color: var(--clr-primary-10);
        }
    }
    p {
        text-transform: capitalize;
        font-size: 1.25rem;
    }
}

/*
==============
About
==============
*/

.about {
    &-center{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }
    &-img {
        display: block;
        width: 70%;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 2rem;
            left: -2rem;
            width: 100%;
            height: 100%;
            border: 0.25rem solid var(--clr-primary-5);
        }
    }

    &-photo {
        max-width: 25rem;
        max-height: 30rem;
        object-fit: cover;
        border-radius: var(--radius);
        position: relative;
    }

    &-title {
        text-align: left;
        margin-top: 5rem;
    }

    .under-line{
        margin-left: 0;
        margin-bottom: 2rem;
    }
    &-info {
        padding: 3rem;
    }
}

@media screen and (min-width: 768px) {
    .about {
        &-center {
            grid-template-columns: 1fr 1fr;
        }
    }
}