body {
  background-color: #f1f5f9;
}

.card {
    background-color: #ffffff;
    border: 2px solid transparent;
    max-width: 300px;
    padding: 24px 32px;
    margin: 32px;
    text-align: center;
    border-radius: 10px;
}

.card-1 {
    border-color:  #ff69a6;
}

.card-2 {
  border-color: #68a3ff;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
}

.card-1 .icon {
    background-color: #ff69a6;
}

.card-2 .icon {
    background-color:  #68a3ff;
}

.btn {
    text-transform: capitalize;
    padding: 8px 16px;
    border-radius: 6px;
    border: transparent;
}

.btn-1 {
    background-color:  rgba(255, 105, 166, 0.2);
    color:  #ff69a6;
}

.btn-2 {
    background-color: rgba(104, 163, 255, 0.2 );
    color:  #68a3ff;
}

img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}