.profile {
    .card{
        background-color: #ffffff;
        border: 2px solid transparent;
        max-width: 300px;
        padding: 0 0 24px 0;
        margin: 32px auto;
        text-align: center;
        border-radius: 10px;
    }
    .card-1{
        border-color: #631e3a;
    }
    .btn {
        text-transform: capitalize;
        padding: 8px 16px;
        border-radius: 6px;
        border: transparent;
    
    }
    .btn-1{
        background-color: rgb(255, 255, 255) ;
        color:  aquamarine;
    }
    
    img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }
    .text {
        display: flex;
        justify-content: space-evenly;
    }

    .card_body {
        display: flex;
        .left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .right {
            flex-direction: column;
            align-items: stretch;
            flex-wrap: wrap;
            align-content: space-between;
        }
    }
    .icons2 {
        display: flex;
        justify-content: space-around;
    }
}