* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #645cff;
    --primary-dark: #302c7c;
    --grey: #2e4c85;
    --grey-light: #ffffff;
    --grey-dark: #000000;
    --border-radius: 0.2rem;
} 
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;  
    color: var(--grey-dark) ;
    background-color: var(--grey-light);
}
 .img {
    width: 100%;
    height: 12rem;
    display: block;
    object-fit: cover;
 }

 .blogs {
    padding: 3rem 1.5rem;

 }

 .section-title h2 {
    text-align: center;
    text-transform: capitalize;
    margin-top: 1.2rem;
    letter-spacing: 1px;
 }

 .blogs-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
 }

 .blogs {
    background-color: wheat;
    padding: 0.75rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0);
    border-radius: var(--grey-light);

 }

 .blogs-content span{
    text-transform: uppercase;
    color: var(--primary);
    letter-spacing: 1.5px;
 }

 .blogs-content h3 {
    text-transform: capitalize;
    margin: 0.5rem 0;
    letter-spacing: 1px;
 }

 .blogs-content p {
    color: var(--grey);
    margin-bottom: 0.5rem;
 }

 .blogs-content a{
    text-transform: capitalize;
    color: var(--primary-dark);
    letter-spacing: 1px;
 }
