* {
  margin: 0;
  padding: 0;
}

:root {
  /* w5 -- blogs css */
  --primary: #645cff;
  --primary-dark: #3c3799;
  --grey: #64748b;
  --grey-light: #f1f5f9;
  --grey-dark: #0f172a;
  --border-radius: 0.2rem;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 10px;
  color: var(--grey-dark);
  background-color: var(--grey-light);
}

.img {
  width: 100%;
  height: 15rem;
  display: block;
  object-fit: cover;
}

.blogs {
  padding: 3rem 1.5rem;
}

.section-title h2 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1.2rem;
  letter-spacing: 1px;
  font-size: 1.5rem;
}

.blogs-center {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.blogs-center2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: 2rem;
}

.blog {
  background-color: white;
  padding: 0.75rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
  border-radius: var(--border-radius);
}

.blog-content {
  margin-top: 0.5rem;
}

.blog-content span {
  text-transform: uppercase;
  color: var(--primary);
  letter-spacing: 1.5px;
}

.blog-content h3 {
  text-transform: capitalize;
  margin: 0.5rem 0;
  letter-spacing: 1px;
  font-size: 1rem;
}

.blog-content p {
  color: var(--grey);
  margin-bottom: 0.5rem;
}

.blog-content a {
  text-transform: capitalize;
  color: var(--primary-dark);
  letter-spacing: 1px;
}

@media screen and (min-width: 550px) {
  .blogs-center {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 800px) {
  .blogs-center {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .blogs-center {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .blogs-center {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 1400px) {
  .blogs-center {
    grid-template-columns: repeat(6, 1fr);
  }
}
